
@{
    ViewData["Title"] = "portales";
    Layout = null;
}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/portales.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Dulce Kapricho</title>
</head>
<body>
    <div class="contenedor">
        <header class="header">
            <nav class="nav">
                <div class="logo">
                    <a href="/DulceKapricho/VerPrincipal"><h1>Dulce Kapricho </h1></a>
                </div>
                <ul class="list-items">
                    <li class="element-item"><a href="/Home/Index">Inicio</a></li>
                </ul>

                <div class="redes">
                    <a href="https://www.instagram.com/"><i class='bx bxl-instagram'></i></a>
                    <a href="https://www.facebook.com/?locale=es_LA"><i class='bx bxl-facebook-circle'></i></a>
                    <a href="https://www.tiktok.com/foryou"><i class='bx bxl-tiktok'></i></a>
                </div>
            </nav>
        </header>
        <main>
        <div class="main">
            <div class="opciones">
               <h1>Portal Trabajador</h1>
               <a href="/DulceKapricho/LoginTrabajador">
                    <img src="/img/portalTrabajador.jpg"/>
               </a>
               <a class="a" href="/DulceKapricho/LoginTrabajador">Ingrese Aqui</a>
            </div>
            <div class="opciones">
                <h1>Portal Clientes</h1>
                <a href="/DulceKapricho/LoginCliente">
                    <img src="/img/portalCliente.jpg">
                </a>
                <a class="a" href="/DulceKapricho/LoginCliente">Ingrese Aqui</a>
            </div>
            <div class="opciones">
                 <h1>Administrador</h1>
                    <a href="/DulceKapricho/LoginAdmin">
                    <img src="/img/portalAdministrador.jpg">
                 </a>
                 <a class="a" href="/DulceKapricho/LoginAdmin">Ingrese Aqui</a>
            </div>
        </div>
        </main>
    </div>
</body>
</html>

