
@{
    ViewData["Title"] = "deliveryForm";
    Layout = null;
}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/login.css">
    <script src="/js/validarRut.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Dulce Kapricho</title>
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <div>
                <h1 class="header__logo">Dulce Kapricho </h1>
            </div>
            <ul class="header__list-items">
                <li class="header__element-item"><a href="/DulceKapricho/PortalAdministrador">Portal Administrador</a></li>
                <li class="header__element-item"><a href="/DulceKapricho/VerProductos">Productos</a></li>
                <li class="header__element-item"><a href="/DulceKapricho/Despacho">Despacho</a></li>
                <li class="header__element-item"><a href="/DulceKapricho/Stock">Stock</a></li>
                <li class="header__element-item"><a href="/DulceKapricho/Gestion">Gestion</a></li>
                <li class="header__element-item"><a href="/DulceKapricho/Proveedores">Proveedores</a></li>
                <li class="header__element-item"><a href="/DulceKapricho/Compras">Compras</a></li>
                <li class="header__element-item"><a href="/DulceKapricho/Delivery">Delivery</a></li>
            </ul>
            <div>
                <a href="https://www.instagram.com/" class="header__redes"><i class='bx bxl-instagram'></i></a>
                <a href="https://www.facebook.com/?locale=es_LA" class="header__redes"><i class='bx bxl-facebook-circle'></i></a>
                <a href="https://www.tiktok.com/foryou" class="header__redes"><i class='bx bxl-tiktok'></i></a>
            </div>
            <div class="sesion"><a href="/Login/Cerrar">Cerrar sesión</a></div>
        </nav>
    </header>
    <main>
        <form class="formulario" action="/Delivery/AgregarDelivery" method="post">
            <label for="rutDelivery">RUT del Delivery:</label>
            <input class="formulario__campo" type="text" id="rutDelivery" name="rutDelivery" required maxlength="11">
            <label for="nombreDelivery">Nombre del Delivery:</label>
            <input class="formulario__campo" type="text" id="nombreDelivery" name="nombreDelivery" required maxlength="20">
            <label for="fechaPedido">Fecha de registro</label>
            <input class ="formulario__campo" type="datetime-local" id="fechaPedido" name="fechaPedido" required>
            <input type="submit" value="Agregar Delivery">
            @ViewBag.mensaje
        </form>
    </main>
    <h1>Listado de Personas</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Rut</th>
                <th>Nombre</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            @Html.Raw(ViewBag.htmlDelivery)
        </tbody>
    </table>
</body>
</html>

