
@{
    ViewData["Title"] = "gestion";
    Layout = null;
}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/form.css">
    <script src="~/js/validarRut.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Dulce Kapricho</title>
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <div>
                <h1 class="header__logo">Dulce Kapricho </h1>
            </div>
            <ul class="header__list-items">
                <li class="header__element-item"><a href="/DulceKapricho/PortalAdministrador">Portal Administrador</a></li>
                <li class="header__element-item"><a href="/DulceKapricho/VerProductos">Productos</a></li>
                <li class="header__element-item"><a href="/DulceKapricho/Despacho">Despacho</a></li>
                <li class="header__element-item"><a href="/DulceKapricho/Stock">Stock</a></li>
                <li class="header__element-item"><a href="/DulceKapricho/Gestion">Gestion</a></li>
                <li class="header__element-item"><a href="/DulceKapricho/Proveedores">Proveedores</a></li>
                <li class="header__element-item"><a href="/DulceKapricho/Compras">Compras</a></li>
                <li class="header__element-item"><a href="/DulceKapricho/Delivery">Delivery</a></li>
            </ul>
            <div>
                <a href="https://www.instagram.com/" class="header__redes"><i class='bx bxl-instagram'></i></a>
                <a href="https://www.facebook.com/?locale=es_LA" class="header__redes"><i class='bx bxl-facebook-circle'></i></a>
                <a href="https://www.tiktok.com/foryou" class="header__redes"><i class='bx bxl-tiktok'></i></a>
            </div>
            <div class="sesion"><a href="/Login/Cerrar">Cerrar sesión</a></div>
        </nav>
    </header>
    <main>
        <section>
        <form class="formulario" action="/DulceKapricho/BorrarPersona" method="post">
            <h1 class="titulo">Borrar Trabajador</h1>
            <input class="formulario__campo" type="text" name="Rut" placeholder="Rut" required maxlength="11"/>
            <button type="submit" class="formulario__btn">Eliminar</button>
            @ViewBag.mensaje
        </form>
            <form class="formulario" action="/DulceKapricho/CrearPersona" method="post" onsubmit="return validarRut(this.rut.value)">
            <h1 class="titulo">Registrar Nuevo Usuario</h1>
            <input class="formulario__campo" type="text" name="rut" placeholder="Rut" required maxlength="11" />
            <input class="formulario__campo" type="text" name="nombre" placeholder="Nombre" required />
            <input class="formulario__campo" type="text" name="apellido" placeholder="Apellido" required />
            <input class="formulario__campo" type="email" name="mail" placeholder="Correo" required />
            <input class="formulario__campo" type="password" name="clave" placeholder="contraseña" maxlength="15" required />
            <input class="formulario__campo" type="date" name="f_nacimiento" required />
            <input class="formulario__campo" type="text" name="direccion" placeholder="Direccion" required />
            <input class="formulario__campo" type="text" name="telefono" placeholder="Telefono" required />
            <select class="formulario__campo" name="nivel" required>
                <option value="1">Admin</option>
                <option value="2">Trabajador</option>
                <option value="3">Cliente</option>
                <option value="4">Repartidor</option>
            </select>
            <button type="submit" class="formulario__btn">Registar</button>
            @ViewBag.mensaje
        </form>
            <form class="formulario" action="/DulceKapricho/EditarPersona" method="post">
                <h1 class="titulo">Editar Datos de Persona</h1>
                <input class="formulario__campo" type="text" name="rut" placeholder="Rut" required maxlength="11" />
                <input class="formulario__campo" type="email" name="mail" placeholder="Correo" required />
                <input class="formulario__campo" type="text" name="direccion" placeholder="Dirección" required />
                <input class="formulario__campo" type="tel" name="telefono" placeholder="Teléfono" required />
                <input class="formulario__campo" type="number" name="nivel" placeholder="Nivel" required />
                <button type="submit" class="formulario__btn">Guardar</button>
                @ViewBag.mensaje
            </form>
        </section>
        <section>
            <h1>Usuarios</h1>
            <table border="1">
                <thead class="header-table">
                    <tr>
                        <th>RUT</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th>Clave</th>
                        <th>F_Nacimiento</th>
                        <th>Direccion</th>
                        <th>Telefono</th>
                        <th>Nivel</th>
                    </tr>
                </thead>
                <tbody class="body-table">
                    @Html.Raw(ViewBag.htmlPersona)
                </tbody>
            </table>

        </section>
    </main>
</body>
</html>

