
@{
    ViewData["Title"] = "portalStockTrabajador";
    Layout = null;
}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/stock.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Dulce Kapricho</title>
</head>
<body>
    <div class="contenedor">
        <header class="header">
            <nav class="nav">
                <div class="logo">
                    <a href="/Home/Index"><h1>Dulce Kapricho </h1></a>
                </div>
                <ul class="list-items">
                    <li class="element-item"><a href="/Home/Inicio">Inicio</a></li>
                    <li class="element-item"><a href="/DulceKapricho/PortalTrabajador">Portal Trabajador</a></li>
                    <li class="element-item"><a href="/DulceKapricho/VerProductos">Productos</a></li>
                    <li class="element-item"><a href="/DulceKapricho/Despacho">Despacho</a></li>
                    <li class="element-item"><a href="/DulceKapricho/StockTrabajador">Stock</a></li>
                </ul>
                <div class="redes">
                    <a href="https://www.instagram.com/"><i class='bx bxl-instagram'></i></a>
                    <a href="https://www.facebook.com/?locale=es_LA"><i class='bx bxl-facebook-circle'></i></a>
                    <a href="https://www.tiktok.com/foryou"><i class='bx bxl-tiktok'></i></a>
                </div>
                <div class="sesion"><a href="/DulceKapricho/Portales">Iniciar sesión</a></div>
            </nav>
        </header>
        <main>
            <div class="wrap">
                <h1>Productos</h1>
                <div class="store-wraper">
                    <div class="category-list">
                        <a href="/DulceKapricho/SolicitarMateria" class="category-item">Solicitar Material</a>
                        <a href="/DulceKapricho/AddMaterial" class="category-item">Agregar Material</a>
                        <a href="/DulceKapricho/AddMaterial" class="category-item">Agregar Proveedor</a>

                    </div>
                    <section class="product-list">
                        <div class="product-item" category="trozo">
                            <!--Producto 1-->
                            <p class="encabezado-nuevo">Nuevo</p>
                            <img src="/img/stock/harina.jpg" alt="">
                            <p class="tipo">Materia Prima</p>
                            <header class="product-text">
                                <h3>Harina 500 gr</h3>
                                <hr size="0.5px" color="#c7c7c7" />
                                <p>500 gramos</p>
                                <p>En Stock: 10</p>
                            </header>
                            <footer>
                                <a class="ver-detalle btn-3" data-id="1">Agregar stock</a>
                            </footer>
                        </div>
                        <div class="product-item" category="completa">
                            <!--Producto 2-->
                            <p class="encabezado">Mas solicitado</p>
                            <img src="/img/stock/huevos.jpg" alt="">
                            <p class="tipo">Materia Prima</p>
                            <header class="product-text">
                                <h3>Huevos</h3>
                                <hr size="0.5px" color="#c7c7c7" />
                                <p>1 unidad</p>
                                <p>En Stock: 36</p>
                            </header>
                            <footer>
                                <a class="ver-detalle btn-3" data-id="1">Agregar stock</a>
                            </footer>
                        </div>
                        <div class="product-item" category="trozo">
                            <!--Producto 3-->
                            <p class="encabezado">Tottus</p>
                            <img src="/img/stock/chips.jpg" alt="">
                            <p class="tipo">Materia prima</p>
                            <header class="product-text">
                                <h3>Chips de chocolate 50gr</h3>
                                <hr size="0.5px" color="#c7c7c7" />
                                <p>50 gramos</p>
                                <p>En stock: 10</p>
                            </header>
                            <footer>
                                <a class="ver-detalle btn-3" data-id="1">Agregar stock</a>
                            </footer>
                        </div>
                        <div class="product-item" category="completa">
                            <!--Producto 4-->
                            <p class="encabezado">Tottus</p>
                            <img src="/img/stock/azucar.jpg" alt="">
                            <p class="tipo">Materia Prima</p>
                            <header class="product-text">
                                <h3>Azucar 250gr</h3>
                                <hr size="0.5px" color="#c7c7c7" />
                                <p>unidad de 250 gramos</p>
                                <p>En Stock: 20</p>
                            </header>
                            <footer>
                                <a class="ver-detalle btn-3" data-id="1">Agregar stock</a>
                            </footer>
                        </div>
                        <div class="product-item" category="galletas">
                            <!--Producto 5-->
                            <p class="encabezado-popular">Lider</p>
                            <img src="/img/stock/polvo-hornear.webp" alt="">
                            <p class="tipo">Materia Prima</p>
                            <header class="product-text">
                                <h3>Polvo de hornear</h3>
                                <hr size="0.5px" color="#c7c7c7" />
                                <p>10 gramos</p>
                                <p>En stock: 10</p>
                            </header>
                            <footer>
                                <a class="ver-detalle btn-3" data-id="1">Agregar stock</a>
                            </footer>
                        </div>
                    </section>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
